*.egg-info
*.mo
*.pyc
.installed.cfg
.mr.developer.cfg
.project
.pydevproject
.settings/
.DS_Store
.Python
bin/
buildout-cache/
develop-eggs/
node_modules/
parts/
src/*
!src/redturtle
var/
htmlcov/
.coverage
*.log
output.xml
*.swp
include/
lib/
pip-selfcheck.json
package-lock.json
