graft src/redturtle
graft docs
include *.cfg *.rst *.in
include *.py
include .coveragerc
recursive-include docs *
recursive-include src *
global-exclude *pyc
global-exclude .DS_Store
include .editorconfig
include .gitattributes
include *.js
include *.json
include *.lock
include *.txt
exclude .installed.cfg
exclude .mr.developer.cfg
exclude pip-selfcheck.json
